<div *ngIf="selecteditem">
  <app-hr-auth-dashboard-details-common-view [requestDetails]="requestDetails" [selecteditem]="selecteditem" [showModelLoader]="showModelLoader"
    [modelStateError]="modelStateError" [generalApiError]="generalApiError">
  </app-hr-auth-dashboard-details-common-view>

  <div class="row mt-4 mb-1">
    <div class="col-lg my-0">
    </div>
    <div class="col-lg-auto my-0">
      <div class="form-group float-right my-0">
        <button class="btn btn-icon btn-danger" type="button" (click)="remove(selecteditem)">
          <span class="btn-inner--icon" *ngIf="showModelLoader"><i class="fas fa-spinner fa-spin"></i></span>
          <span class="btn-inner--icon" *ngIf="!showModelLoader"><i class="fas fa-times-circle"></i></span>
          <span class="btn-inner--text" *ngIf="showModelLoader">Removing Authorization ...</span>
          <span class="btn-inner--text" *ngIf="!showModelLoader">Remove Authorization</span>
        </button>
      </div>
    </div>
  </div>
</div>