<h6 class="h2 text-primary ml-2 mb-3">Basic Information</h6>

<ul class="list-group list-group-flush list mt--2 mb-0" *ngIf="profileBaiscInfo">

  <li class="list-group-item px-0 py-2">
    <div class="row align-items-center">
      <div class="col-auto my-auto">
        <i class="fas fa-user fa-2x"></i>
      </div>
      <div class="col ml--2">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg">
                <div class="row">
                  <div class="col-lg-2">
                    <span class="h5 text-muted mb-0">Name</span>
                  </div>
                  <div class="col-lg-10">
                    <span
                      class="h5 text-primary font-weight-bold mb-0">{{profileBaiscInfo.employee_name_with_id}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <!-- <button class="btn btn-icon btn-link btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewRecordDetailsModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-globe-americas"></i></span> Public
        </button> -->
      </div>
      <div class="col-auto">
        <!-- <button class="btn btn-icon btn-primary btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewRecordDetailsModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
        </button> -->
      </div>
    </div>
  </li>

  <li class="list-group-item px-0 py-2">
    <div class="row align-items-center">
      <div class="col-auto my-auto">
        <i class="fas fa-user fa-2x"></i>
      </div>
      <div class="col ml--2">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg">
                <div class="row">
                  <div class="col-lg-2">
                    <span class="h5 text-muted mb-0">Employee ID</span>
                  </div>
                  <div class="col-lg-10">
                    <span class="h5 text-primary font-weight-bold mb-0">{{profileBaiscInfo.employee_id}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <!-- <button class="btn btn-icon btn-link btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewRecordDetailsModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-globe-americas"></i></span> Public
        </button> -->
      </div>
      <div class="col-auto">
        <!-- <button class="btn btn-icon btn-primary btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewRecordDetailsModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
        </button> -->
      </div>
    </div>
  </li>



  <li class="list-group-item px-0 py-2">
    <div class="row align-items-center">
      <div class="col-auto my-auto">
        <i class="fas fa-user fa-2x"></i>
      </div>
      <div class="col ml--2">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg">
                <div class="row">
                  <div class="col-lg-2">
                    <span class="h5 text-muted mb-0">Ext</span>
                  </div>
                  <div class="col-lg-10">
                    <span class="h5 text-primary font-weight-bold mb-0">{{profileBaiscInfo.employee_ext_number}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <!-- <button class="btn btn-icon btn-link btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewRecordDetailsModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-globe-americas"></i></span> Public
        </button> -->
      </div>
      <div class="col-auto">
        <button class="btn btn-icon btn-primary btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewUpdateExtentionModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
        </button>
      </div>
    </div>
  </li>

  <li class="list-group-item px-0 py-2">
    <div class="row align-items-center">
      <div class="col-auto my-auto">
        <i class="fas fa-user fa-2x"></i>
      </div>
      <div class="col ml--2">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg">
                <div class="row">
                  <div class="col-lg-2">
                    <span class="h5 text-muted mb-0">Mobile</span>
                  </div>
                  <div class="col-lg-10">
                    <span
                      class="h5 text-primary font-weight-bold mb-0">{{profileBaiscInfo.employee_mobile_number}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <!-- <button class="btn btn-icon btn-link btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewRecordDetailsModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-globe-americas"></i></span> Public
        </button> -->
      </div>
      <div class="col-auto">
        <button class="btn btn-icon btn-primary btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewUpdateMobileModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
        </button>
      </div>
    </div>
  </li>




  <li class="list-group-item px-0 py-2">
    <div class="row align-items-center">
      <div class="col-auto my-auto">
        <i class="fas fa-user fa-2x"></i>
      </div>
      <div class="col ml--2">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg">
                <div class="row">
                  <div class="col-lg-2">
                    <span class="h5 text-muted mb-0">Designation</span>
                  </div>
                  <div class="col-lg-10">
                    <span class="h5 text-primary font-weight-bold mb-0">{{profileBaiscInfo.employee_designation}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <!-- <button class="btn btn-icon btn-link btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewRecordDetailsModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-globe-americas"></i></span> Public
        </button> -->
      </div>
      <div class="col-auto">
        <button class="btn btn-icon btn-primary btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewUpdateDesignationModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
        </button>
      </div>
    </div>
  </li>

  <li class="list-group-item px-0 py-2">
    <div class="row align-items-center">
      <div class="col-auto my-auto">
        <i class="fas fa-user fa-2x"></i>
      </div>
      <div class="col ml--2">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg">
                <div class="row">
                  <div class="col-lg-2">
                    <span class="h5 text-muted mb-0">Division</span>
                  </div>
                  <div class="col-lg-10">
                    <span class="h5 text-primary font-weight-bold mb-0">{{profileBaiscInfo.employee_division}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <!-- <button class="btn btn-icon btn-link btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewRecordDetailsModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-globe-americas"></i></span> Public
        </button> -->
      </div>
      <div class="col-auto">
        <button class="btn btn-icon btn-primary btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewUpdateDivisionModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
        </button>
      </div>
    </div>
  </li>

  <li class="list-group-item px-0 py-2">
    <div class="row align-items-center">
      <div class="col-auto my-auto">
        <i class="fas fa-user fa-2x"></i>
      </div>
      <div class="col ml--2">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg">
                <div class="row">
                  <div class="col-lg-2">
                    <span class="h5 text-muted mb-0">Department</span>
                  </div>
                  <div class="col-lg-10">
                    <span class="h5 text-primary font-weight-bold mb-0">{{profileBaiscInfo.employee_department}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <!-- <button class="btn btn-icon btn-link btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewRecordDetailsModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-globe-americas"></i></span> Public
        </button> -->
      </div>
      <div class="col-auto">
        <button class="btn btn-icon btn-primary btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewUpdateDepartmentModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
        </button>
      </div>
    </div>
  </li>

  <li class="list-group-item px-0 py-2">
    <div class="row align-items-center">
      <div class="col-auto my-auto">
        <i class="fas fa-user fa-2x"></i>
      </div>
      <div class="col ml--2">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg">
                <div class="row">
                  <div class="col-lg-2">
                    <span class="h5 text-muted mb-0">Section</span>
                  </div>
                  <div class="col-lg-10">
                    <span class="h5 text-primary font-weight-bold mb-0">{{profileBaiscInfo.employee_section}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <!-- <button class="btn btn-icon btn-link btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewRecordDetailsModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-globe-americas"></i></span> Public
        </button> -->
      </div>
      <div class="col-auto">
        <button class="btn btn-icon btn-primary btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewUpdateSectionModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
        </button>
      </div>
    </div>
  </li>




  <li class="list-group-item px-0 py-2">
    <div class="row align-items-center">
      <div class="col-auto my-auto">
        <i class="fas fa-user fa-2x"></i>
      </div>
      <div class="col ml--2">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg">
                <div class="row">
                  <div class="col-lg-2">
                    <span class="h5 text-muted mb-0">Region / City</span>
                  </div>
                  <div class="col-lg-10">
                    <span class="h5 text-primary font-weight-bold mb-0">{{profileBaiscInfo.employee_city}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <!-- <button class="btn btn-icon btn-link btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewRecordDetailsModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-globe-americas"></i></span> Public
        </button> -->
      </div>
      <div class="col-auto">
        <button class="btn btn-icon btn-primary btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewUpdateCityModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
        </button>
      </div>
    </div>
  </li>

  <li class="list-group-item px-0 py-2">
    <div class="row align-items-center">
      <div class="col-auto my-auto">
        <i class="fas fa-user fa-2x"></i>
      </div>
      <div class="col ml--2">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg">
                <div class="row">
                  <div class="col-lg-2">
                    <span class="h5 text-muted mb-0">Location</span>
                  </div>
                  <div class="col-lg-10">
                    <span
                      class="h5 text-primary font-weight-bold mb-0">{{profileBaiscInfo.employee_last_known_location}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <!-- <button class="btn btn-icon btn-link btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewRecordDetailsModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-globe-americas"></i></span> Public
        </button> -->
      </div>
      <div class="col-auto">
        <button class="btn btn-icon btn-primary btn-sm" type="button" data-toggle="tooltip" data-placement="top"
          title="View Details" (click)="showViewUpdateLocationModal(profileBaiscInfo)">
          <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
        </button>
      </div>
    </div>
  </li>
</ul>












<!-- Model | Update Extention -->
<div #CardViewUpdateExtentionModal id="CardViewUpdateExtentionModal" class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Update Extention No</h5>
        <button type="button" class="close py-3" data-dismiss="modal" aria-label="Close"
          (click)="hideViewUpdateExtentionModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedRequest">

        <div *ngIf="selectedRequest">
          <div class="row">
            <div class="col-lg-12">
              <div class="card card-stats border mb-0">
                <div class="card-body p-3">
                  <div class="row">
                    <div class="col-lg-12 px-4 mb-4">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group mb-2">
                            <label for="toDate" class="h5 text-muted ml-2 mb-1">Extention</label>
                            <input type="text" class="form-control col-12" placeholder="Enter new Extention"
                              name="newUpdateData" id="newUpdateData" [(ngModel)]="newUpdateData">
                          </div>
                        </div>

                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.field_value">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.field_value">
                            <li class="mt-0" *ngFor="let error of modelStateError.field_value">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.field_name">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.field_name">
                            <li class="mt-0" *ngFor="let error of modelStateError.field_name">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.employee_id">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.employee_id">
                            <li class="mt-0" *ngFor="let error of modelStateError.employee_id">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.leave_request_taken_to">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.leave_request_taken_to">
                            <li class="mt-0" *ngFor="let error of modelStateError.leave_request_taken_to">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError['']">
                          <ul class="pl-2 mb-2" *ngIf="modelStateError && modelStateError['']">
                            <li class="mt-0" *ngFor="let error of modelStateError['']">
                              <span class="h5 text-white mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4 mb-1">
            <div class="col-lg my-0">
            </div>
            <div class="col-lg-auto my-0">
              <div class="form-group float-right my-0">
                <button class="btn btn-icon btn-primary" type="button" (click)="updateExtention(profileBaiscInfo)">
                  <span class="btn-inner--icon" *ngIf="showModelLoader"><i class="fas fa-spinner fa-spin"></i></span>
                  <span class="btn-inner--icon" *ngIf="!showModelLoader"><i class="fas fa-save"></i></span>
                  <span class="btn-inner--text" *ngIf="showModelLoader">Saving ...</span>
                  <span class="btn-inner--text" *ngIf="!showModelLoader">Update Extention</span>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- Model | Update Mobile -->
<div #CardViewUpdateMobileModal id="CardViewUpdateMobileModal" class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Update Mobile No</h5>
        <button type="button" class="close py-3" data-dismiss="modal" aria-label="Close"
          (click)="hideViewUpdateMobileModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedRequest">

        <div *ngIf="selectedRequest">
          <div class="row">
            <div class="col-lg-12">
              <div class="card card-stats border mb-0">
                <div class="card-body p-3">
                  <div class="row">
                    <div class="col-lg-12 px-4 mb-4">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group mb-2">
                            <label for="toDate" class="h5 text-muted ml-2 mb-1">Mobile No</label>
                            <input type="text" class="form-control col-12" placeholder="Enter new Mobile No"
                              name="newUpdateData" id="newUpdateData" [(ngModel)]="newUpdateData">
                          </div>
                        </div>

                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.field_value">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.field_value">
                            <li class="mt-0" *ngFor="let error of modelStateError.field_value">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.field_name">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.field_name">
                            <li class="mt-0" *ngFor="let error of modelStateError.field_name">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.employee_id">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.employee_id">
                            <li class="mt-0" *ngFor="let error of modelStateError.employee_id">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.leave_request_taken_to">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.leave_request_taken_to">
                            <li class="mt-0" *ngFor="let error of modelStateError.leave_request_taken_to">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError['']">
                          <ul class="pl-2 mb-2" *ngIf="modelStateError && modelStateError['']">
                            <li class="mt-0" *ngFor="let error of modelStateError['']">
                              <span class="h5 text-white mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4 mb-1">
            <div class="col-lg my-0">
            </div>
            <div class="col-lg-auto my-0">
              <div class="form-group float-right my-0">
                <button class="btn btn-icon btn-primary" type="button" (click)="updateMobile(profileBaiscInfo)">
                  <span class="btn-inner--icon" *ngIf="showModelLoader"><i class="fas fa-spinner fa-spin"></i></span>
                  <span class="btn-inner--icon" *ngIf="!showModelLoader"><i class="fas fa-save"></i></span>
                  <span class="btn-inner--text" *ngIf="showModelLoader">Saving ...</span>
                  <span class="btn-inner--text" *ngIf="!showModelLoader">Update Mobile No</span>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- Model | Update Designation -->
<div #CardViewUpdateDesignationModal id="CardViewUpdateDesignationModal" class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Update Designation</h5>
        <button type="button" class="close py-3" data-dismiss="modal" aria-label="Close"
          (click)="hideViewUpdateDesignationModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedRequest">

        <div *ngIf="selectedRequest">
          <div class="row">
            <div class="col-lg-12">
              <div class="card card-stats border mb-0">
                <div class="card-body p-3">
                  <div class="row">
                    <div class="col-lg-12 px-4 mb-4">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group mb-2">
                            <label for="toDate" class="h5 text-muted ml-2 mb-1">Designation</label>
                            <input type="text" class="form-control col-12" placeholder="Enter new Designation"
                              name="newUpdateData" id="newUpdateData" [(ngModel)]="newUpdateData">
                          </div>
                        </div>

                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.field_value">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.field_value">
                            <li class="mt-0" *ngFor="let error of modelStateError.field_value">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.field_name">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.field_name">
                            <li class="mt-0" *ngFor="let error of modelStateError.field_name">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.employee_id">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.employee_id">
                            <li class="mt-0" *ngFor="let error of modelStateError.employee_id">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.leave_request_taken_to">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.leave_request_taken_to">
                            <li class="mt-0" *ngFor="let error of modelStateError.leave_request_taken_to">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError['']">
                          <ul class="pl-2 mb-2" *ngIf="modelStateError && modelStateError['']">
                            <li class="mt-0" *ngFor="let error of modelStateError['']">
                              <span class="h5 text-white mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4 mb-1">
            <div class="col-lg my-0">
            </div>
            <div class="col-lg-auto my-0">
              <div class="form-group float-right my-0">
                <button class="btn btn-icon btn-primary" type="button" (click)="updateDesignation(profileBaiscInfo)">
                  <span class="btn-inner--icon" *ngIf="showModelLoader"><i class="fas fa-spinner fa-spin"></i></span>
                  <span class="btn-inner--icon" *ngIf="!showModelLoader"><i class="fas fa-save"></i></span>
                  <span class="btn-inner--text" *ngIf="showModelLoader">Saving ...</span>
                  <span class="btn-inner--text" *ngIf="!showModelLoader">Update Designation</span>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- Model | Update Division -->
<div #CardViewUpdateDivisionModal id="CardViewUpdateDivisionModal" class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Update Division</h5>
        <button type="button" class="close py-3" data-dismiss="modal" aria-label="Close"
          (click)="hideViewUpdateDivisionModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedRequest">

        <div *ngIf="selectedRequest">
          <div class="row">
            <div class="col-lg-12">
              <div class="card card-stats border mb-0">
                <div class="card-body p-3">
                  <div class="row">
                    <div class="col-lg-12 px-4 mb-4">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group mb-2">
                            <label for="toDate" class="h5 text-muted ml-2 mb-1">Division</label>
                            <input type="text" class="form-control col-12" placeholder="Enter new Division"
                              name="newUpdateData" id="newUpdateData" [(ngModel)]="newUpdateData">
                          </div>
                        </div>

                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.field_value">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.field_value">
                            <li class="mt-0" *ngFor="let error of modelStateError.field_value">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.field_name">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.field_name">
                            <li class="mt-0" *ngFor="let error of modelStateError.field_name">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.employee_id">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.employee_id">
                            <li class="mt-0" *ngFor="let error of modelStateError.employee_id">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.leave_request_taken_to">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.leave_request_taken_to">
                            <li class="mt-0" *ngFor="let error of modelStateError.leave_request_taken_to">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError['']">
                          <ul class="pl-2 mb-2" *ngIf="modelStateError && modelStateError['']">
                            <li class="mt-0" *ngFor="let error of modelStateError['']">
                              <span class="h5 text-white mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4 mb-1">
            <div class="col-lg my-0">
            </div>
            <div class="col-lg-auto my-0">
              <div class="form-group float-right my-0">
                <button class="btn btn-icon btn-primary" type="button" (click)="updateDivision(profileBaiscInfo)">
                  <span class="btn-inner--icon" *ngIf="showModelLoader"><i class="fas fa-spinner fa-spin"></i></span>
                  <span class="btn-inner--icon" *ngIf="!showModelLoader"><i class="fas fa-save"></i></span>
                  <span class="btn-inner--text" *ngIf="showModelLoader">Saving ...</span>
                  <span class="btn-inner--text" *ngIf="!showModelLoader">Update Division</span>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- Model | Update Department -->
<div #CardViewUpdateDepartmentModal id="CardViewUpdateDepartmentModal" class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Update Department</h5>
        <button type="button" class="close py-3" data-dismiss="modal" aria-label="Close"
          (click)="hideViewUpdateDepartmentModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedRequest">

        <div *ngIf="selectedRequest">
          <div class="row">
            <div class="col-lg-12">
              <div class="card card-stats border mb-0">
                <div class="card-body p-3">
                  <div class="row">
                    <div class="col-lg-12 px-4 mb-4">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group mb-2">
                            <label for="toDate" class="h5 text-muted ml-2 mb-1">Department</label>
                            <input type="text" class="form-control col-12" placeholder="Enter new Department"
                              name="newUpdateData" id="newUpdateData" [(ngModel)]="newUpdateData">
                          </div>
                        </div>

                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.field_value">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.field_value">
                            <li class="mt-0" *ngFor="let error of modelStateError.field_value">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.field_name">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.field_name">
                            <li class="mt-0" *ngFor="let error of modelStateError.field_name">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.employee_id">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.employee_id">
                            <li class="mt-0" *ngFor="let error of modelStateError.employee_id">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.leave_request_taken_to">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.leave_request_taken_to">
                            <li class="mt-0" *ngFor="let error of modelStateError.leave_request_taken_to">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError['']">
                          <ul class="pl-2 mb-2" *ngIf="modelStateError && modelStateError['']">
                            <li class="mt-0" *ngFor="let error of modelStateError['']">
                              <span class="h5 text-white mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4 mb-1">
            <div class="col-lg my-0">
            </div>
            <div class="col-lg-auto my-0">
              <div class="form-group float-right my-0">
                <button class="btn btn-icon btn-primary" type="button" (click)="updateDepartment(profileBaiscInfo)">
                  <span class="btn-inner--icon" *ngIf="showModelLoader"><i class="fas fa-spinner fa-spin"></i></span>
                  <span class="btn-inner--icon" *ngIf="!showModelLoader"><i class="fas fa-save"></i></span>
                  <span class="btn-inner--text" *ngIf="showModelLoader">Saving ...</span>
                  <span class="btn-inner--text" *ngIf="!showModelLoader">Update Department</span>
                </button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>



<!-- Model | Update Section -->
<div #CardViewUpdateSectionModal id="CardViewUpdateSectionModal" class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Update Section</h5>
        <button type="button" class="close py-3" data-dismiss="modal" aria-label="Close"
          (click)="hideViewUpdateSectionModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedRequest">

        <div *ngIf="selectedRequest">
          <div class="row">
            <div class="col-lg-12">
              <div class="card card-stats border mb-0">
                <div class="card-body p-3">
                  <div class="row">
                    <div class="col-lg-12 px-4 mb-4">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group mb-2">
                            <label for="toDate" class="h5 text-muted ml-2 mb-1">Section</label>
                            <input type="text" class="form-control col-12" placeholder="Enter new Section"
                              name="newUpdateData" id="newUpdateData" [(ngModel)]="newUpdateData">
                          </div>
                        </div>

                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.field_value">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.field_value">
                            <li class="mt-0" *ngFor="let error of modelStateError.field_value">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.field_name">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.field_name">
                            <li class="mt-0" *ngFor="let error of modelStateError.field_name">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.employee_id">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.employee_id">
                            <li class="mt-0" *ngFor="let error of modelStateError.employee_id">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.leave_request_taken_to">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.leave_request_taken_to">
                            <li class="mt-0" *ngFor="let error of modelStateError.leave_request_taken_to">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError['']">
                          <ul class="pl-2 mb-2" *ngIf="modelStateError && modelStateError['']">
                            <li class="mt-0" *ngFor="let error of modelStateError['']">
                              <span class="h5 text-white mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4 mb-1">
            <div class="col-lg my-0">
            </div>
            <div class="col-lg-auto my-0">
              <div class="form-group float-right my-0">
                <button class="btn btn-icon btn-primary" type="button" (click)="updateSection(profileBaiscInfo)">
                  <span class="btn-inner--icon" *ngIf="showModelLoader"><i class="fas fa-spinner fa-spin"></i></span>
                  <span class="btn-inner--icon" *ngIf="!showModelLoader"><i class="fas fa-save"></i></span>
                  <span class="btn-inner--text" *ngIf="showModelLoader">Saving ...</span>
                  <span class="btn-inner--text" *ngIf="!showModelLoader">Update Section</span>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- Model | Update City -->
<div #CardViewUpdateCityModal id="CardViewUpdateCityModal" class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Update City</h5>
        <button type="button" class="close py-3" data-dismiss="modal" aria-label="Close"
          (click)="hideViewUpdateCityModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedRequest">

        <div *ngIf="selectedRequest">
          <div class="row">
            <div class="col-lg-12">
              <div class="card card-stats border mb-0">
                <div class="card-body p-3">
                  <div class="row">
                    <div class="col-lg-12 px-4 mb-4">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group mb-2">
                            <label for="toDate" class="h5 text-muted ml-2 mb-1">City</label>
                            <input type="text" class="form-control col-12" placeholder="Enter new City"
                              name="newUpdateData" id="newUpdateData" [(ngModel)]="newUpdateData">
                          </div>
                        </div>

                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.field_value">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.field_value">
                            <li class="mt-0" *ngFor="let error of modelStateError.field_value">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.field_name">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.field_name">
                            <li class="mt-0" *ngFor="let error of modelStateError.field_name">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.employee_id">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.employee_id">
                            <li class="mt-0" *ngFor="let error of modelStateError.employee_id">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.leave_request_taken_to">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.leave_request_taken_to">
                            <li class="mt-0" *ngFor="let error of modelStateError.leave_request_taken_to">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError['']">
                          <ul class="pl-2 mb-2" *ngIf="modelStateError && modelStateError['']">
                            <li class="mt-0" *ngFor="let error of modelStateError['']">
                              <span class="h5 text-white mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4 mb-1">
            <div class="col-lg my-0">
            </div>
            <div class="col-lg-auto my-0">
              <div class="form-group float-right my-0">
                <button class="btn btn-icon btn-primary" type="button" (click)="updateCity(profileBaiscInfo)">
                  <span class="btn-inner--icon" *ngIf="showModelLoader"><i class="fas fa-spinner fa-spin"></i></span>
                  <span class="btn-inner--icon" *ngIf="!showModelLoader"><i class="fas fa-save"></i></span>
                  <span class="btn-inner--text" *ngIf="showModelLoader">Saving ...</span>
                  <span class="btn-inner--text" *ngIf="!showModelLoader">Update City</span>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- Model | Update Location -->
<div #CardViewUpdateLocationModal id="CardViewUpdateLocationModal" class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Update Location</h5>
        <button type="button" class="close py-3" data-dismiss="modal" aria-label="Close"
          (click)="hideViewUpdateLocationModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedRequest">

        <div *ngIf="selectedRequest">
          <div class="row">
            <div class="col-lg-12">
              <div class="card card-stats border mb-0">
                <div class="card-body p-3">
                  <div class="row">
                    <div class="col-lg-12 px-4 mb-4">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group mb-2">
                            <label for="toDate" class="h5 text-muted ml-2 mb-1">Location</label>
                            <input type="text" class="form-control col-12" placeholder="Enter new Location"
                              name="newUpdateData" id="newUpdateData" [(ngModel)]="newUpdateData">
                          </div>
                        </div>

                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.field_value">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.field_value">
                            <li class="mt-0" *ngFor="let error of modelStateError.field_value">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.field_name">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.field_name">
                            <li class="mt-0" *ngFor="let error of modelStateError.field_name">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.employee_id">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.employee_id">
                            <li class="mt-0" *ngFor="let error of modelStateError.employee_id">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError.leave_request_taken_to">
                          <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.leave_request_taken_to">
                            <li class="mt-0" *ngFor="let error of modelStateError.leave_request_taken_to">
                              <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-12" *ngIf="modelStateError && modelStateError['']">
                          <ul class="pl-2 mb-2" *ngIf="modelStateError && modelStateError['']">
                            <li class="mt-0" *ngFor="let error of modelStateError['']">
                              <span class="h5 text-white mb-1 mt-0 d-block">{{error}}.</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4 mb-1">
            <div class="col-lg my-0">
            </div>
            <div class="col-lg-auto my-0">
              <div class="form-group float-right my-0">
                <button class="btn btn-icon btn-primary" type="button" (click)="updateLocation(profileBaiscInfo)">
                  <span class="btn-inner--icon" *ngIf="showModelLoader"><i class="fas fa-spinner fa-spin"></i></span>
                  <span class="btn-inner--icon" *ngIf="!showModelLoader"><i class="fas fa-save"></i></span>
                  <span class="btn-inner--text" *ngIf="showModelLoader">Saving ...</span>
                  <span class="btn-inner--text" *ngIf="!showModelLoader">Update Location</span>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>