<div class="header header-dark bg-primary pb-6 content__title content__title--calendar">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-2">
        <div class="col-lg-6">
          <h6 class="fullcalendar-title h2 text-white d-inline-block mb-0">HR Desk</h6>
          <nav aria-label="breadcrumb" class="d-none d-lg-inline-block ml-lg-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item active" aria-current="page">Statistics</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 mt-3 mt-lg-0 text-lg-right">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">

      <div class="card mb-3">
        <div class="card-header p-3">
          <div class="row">
            <div class="col">
              <div class="row">

                <div class="col-sm-6 col-md-5 col-lg-5 col-xl-5">
                  <div class="form-group mb-2">
                    <label class="form-control-label" for="example3cols1Input">Employee Id</label>
                    <input type="text" class="form-control" placeholder="Employee Id" name="selectedEmployeeId" [(ngModel)]="selectedEmployeeId">
                  </div>

                  <div class="col-lg-12" *ngIf="otCalcModelStateError && otCalcModelStateError.employee_id">
                    <ul class="pl-5 mb-2" *ngIf="otCalcModelStateError && otCalcModelStateError.employee_id">
                      <li class="mt-0" *ngFor="let error of otCalcModelStateError.employee_id">
                        <span class="h5 text-danger mb-1 mt-0 d-block"> {{error}}.</span>
                      </li>
                    </ul>
                  </div>

                  <div class="col-lg-12" *ngIf="modelStateError && modelStateError.employee_id">
                    <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.employee_id">
                      <li class="mt-0" *ngFor="let error of modelStateError.employee_id">
                        <span class="h5 text-danger mb-1 mt-0 d-block"> {{error}}.</span>
                      </li>
                    </ul>
                  </div>

                </div>
                <div class="col-sm-6 col-md col-lg col-xl">
                  <div class="form-group mb-2">
                    <label class="form-control-label" for="example3cols2Input">Year</label>
                    <!-- <div *ngFor="let year of yearList" class="btn-group" role="group" aria-label="Basic example">
                      <button  (click)= "yearOnChange(year.Year)" type="button" class="btn">{{year.Year}}</button>
                    </div> -->

                    <!-- <select class="form-control" [(ngModel)]="selectedYear"
                      (change)="yearOnChange($event.target.value)">
                      <option value="{{year.Year}}" *ngFor="let year of yearList">
                        {{year.Year}}
                      </option>
                    </select> -->

                    <input type="number" min="2019" max="2030" class="form-control" placeholder="Year" name="selectedYear" [(ngModel)]="selectedYear"  (ngModelChange)="yearChange($event)">

                  </div>
              

                  <div class="col-lg-12" *ngIf="modelStateError && modelStateError.from_date">
                    <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.from_date">
                      <li class="mt-0" *ngFor="let error of modelStateError.from_date">
                        <span class="h5 text-danger mb-1 mt-0 d-block"> {{error}}.</span>
                      </li>
                    </ul>
                  </div>

                  <div class="col-lg-12" *ngIf="modelStateError && modelStateError.to_date">
                    <ul class="pl-5 mb-2" *ngIf="modelStateError && modelStateError.to_date">
                      <li class="mt-0" *ngFor="let error of modelStateError.to_date">
                        <span class="h5 text-danger mb-1 mt-0 d-block"> {{error}}.</span>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-sm-6 col-md-auto col-lg-auto col-xl-auto col-md-auto text-right align-self-end">
                  <button type="button" class="btn btn-primary mb-2" [ngClass]="modelStateError ? 'mb-5' : ''" (click)="getEmployeeStatistics()">Get Statistics <i
                      class="fas fa-search" aria-hidden="true"></i></button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <app-clib-loading-xl *ngIf="showLoader"></app-clib-loading-xl>

      <div class="row" *ngIf="employeeStatistics?.employee_name">
        <div class="col-xl-12 col-md-12">
          <div class="card card-stats shadow mb-4">
            <div class="card-body my-auto">
              <div class="row">
                <div class="col-auto my-auto pl-2">
                  <button type="button" class="btn btn-facebook btn-icon-only rounded-circle"
                    *ngIf="!employeeStatistics?.employee_picture_path">
                    <span class="btn-inner--icon">{{employeeStatistics?.employee_name}} -
                      {{employeeStatistics?.employee_id}}</span>
                  </button>
                  <span class="avatar rounded-circle" *ngIf="employeeStatistics?.employee_picture_path">
                    <img src={{employeeStatistics?.employee_picture_path}} alt="..."
                      style="width: 48px; height: 48px; object-fit: cover;" />
                  </span>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col-lg-12 pr-2">
                      <div class="row">
                        <div class="col-12">
                          <div class="row">
                            <div class="col-auto">
                              <span class="h4 text-primary font-weight-bold mb-0">
                                {{employeeStatistics?.employee_name}} - {{employeeStatistics?.employee_id}}
                              </span>
                            </div>
                            <div class="col">
                              <span class="h5 text-muted font-weight-bold mb-0">
                                {{employeeStatistics?.employee_designation}}
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <span class="h5 text-dark font-weight-bold mb-0">
                            {{employeeStatistics?.employee_division}} - {{employeeStatistics?.employee_department}} -
                            {{employeeStatistics?.employee_section}}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="row">
        <div class="col-12 col-sm-12 col-md-12col-lg-12 col-xl-5">
          <div class="card"
            *ngIf="employeeStatistics?.employee_absence_quota_from_sap && employeeStatistics?.employee_absence_quota_from_sap.length > 0">
            <div class="card-header border-0">
              <h4 class="mb-0 text-primary"> Leave Quotas {{selectedYearObj.YearStart}} - {{selectedYearObj.YearEnd}}</h4>
            </div>
            <div class="table-responsive" *ngIf="employeeStatistics?.employee_absence_quota_from_sap?.length > 0">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"> Name </th>
                    <th scope="col" class="text-center"> Entitled </th>
                    <th scope="col" class="text-center"> Deducted </th>
                    <th scope="col" class="text-center"> Remaining </th>
                    <!-- <th scope="col" class="text-center"> View </th> -->
                  </tr>
                </thead>
                <tbody class="list" *ngFor="let leaveQuota of employeeStatistics?.employee_absence_quota_from_sap">
                  <tr>
                    <th class="px-3 py-2">
                      <span class="h5 text-dark text-center">{{leaveQuota?.absence_type_description}}</span>
                    </th>
                    <th scope="row" class="px-3 py-2">
                      <h6 class="h5 text-muted text-center mt-0 mb-0">
                        {{("00"+leaveQuota?.quota_entitled).slice(-2)}}</h6>
                    </th>
                    <th scope="row" class="px-3 py-2">
                      <h6 class="h5 text-warning text-center  mt-0 mb-0">
                        {{("00"+leaveQuota?.quota_deducted).slice(-2)}}</h6>
                    </th>
                    <th scope="row" class="px-3 py-2">
                      <h6 class="h5 text-success text-center  mt-0 mb-0">
                        {{("00"+leaveQuota?.quota_remaining).slice(-2)}}</h6>
                    </th>
                    <!-- <th scope="row" class="px-3 py-2 text-center">
                      <i class="fas fa-eye" (click)="showViewLeaveDetails(leaveQuota)"></i>
                    </th> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="alert alert-warning px-3 py-2 mb-3" role="alert"
          *ngIf="employeeStatistics?.employee_absence_quota_from_sap && employeeStatistics?.employee_absence_quota_from_sap.length == 0">
          <span class="alert-icon"><i class="fas fa-info-circle"></i></span>
          <span class="alert-text"><strong>Oh Snap!</strong> No Records Found ... !</span>
      </div>
   
        </div>


        <div class="col-12 col-sm-12 col-md-12col-lg-12 col-xl-7">
          <div class="row">
            <div class="col-lg-12">
              <div class="card" *ngIf="employeeStatistics?.employee_absence_hours">
                <div class="card-header border-0">
                  <h4 class="mb-0 text-primary">Unauthorized Absence</h4>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" class="text-center"> Unauthorized Absence Days </th>
                        <th scope="col" class="text-center"> Unauthorized Absence Hours </th>
                      </tr>
                    </thead>
                    <tbody class="list">
                      <tr>
                        <th class="px-3 py-2 text-center">
                          <span
                            class="h5 text-warning text-center">{{employeeStatistics?.employee_absence_hours?.absence_days_for_year}}</span>
                        </th>
                        <th class="px-3 py-2 text-center">
                          <span
                            class="h5 text-warning text-center">{{employeeStatistics?.employee_absence_hours?.absence_hours_for_year}}</span>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="alert alert-light px-3 py-2 mb-4" role="alert"
                *ngIf="employeeStatistics?.self_certification_count">
                <div class="row">
                  <div class="col">
                    <span class="alert-icon"><i class="fas fa-briefcase-medical"></i></span>
                    <span
                      class="alert-text"><strong>{{employeeStatistics?.self_certification_count[0].total_count}}</strong>
                      Self Certification taken in {{selectedYear}}</span>
                  </div>
                  <div class="col-auto my-auto" *ngIf="employeeStatistics?.self_certification_count[0].total_count > 0">
                    <i class="fas fa-eye" (click)="showViewSelfCertificationLeaveModal()"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="card mb-3" *ngIf="modules.overtimeCalculator">
                <div class="card-header p-3">
                  <h4 class="mb-0 text-primary">Calculate Overtime</h4>
                </div>
                <div class="card-body px-4 py-3">

                  <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4">
                      <div class="form-group mb-0">
                        <label class="form-control-label" for="example3cols1Input">From</label>
                        <input type="date" class="form-control" placeholder="From" name="otCalcFrom" id="otCalcFrom"
                          [(ngModel)]="otCalcFrom">
                      </div>


                      <div class="col-lg-12" *ngIf="otCalcModelStateError && otCalcModelStateError.from_date">
                        <ul class="pl-5 mb-2" *ngIf="otCalcModelStateError && otCalcModelStateError.from_date">
                          <li class="mt-0" *ngFor="let error of otCalcModelStateError.from_date">
                            <span class="h5 text-danger mb-1 mt-0 d-block"> {{error}}.</span>
                          </li>
                        </ul>
                      </div>

                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                      <div class="form-group mb-0">
                        <label class="form-control-label" for="example3cols1Input">To</label>
                        <input type="date" class="form-control" placeholder="To" name="otCalcTo" id="otCalcTo"
                          [(ngModel)]="otCalcTo">
                      </div>

                      <div class="col-lg-12" *ngIf="otCalcModelStateError && otCalcModelStateError.to_date">
                        <ul class="pl-5 mb-2" *ngIf="otCalcModelStateError && otCalcModelStateError.to_date">
                          <li class="mt-0" *ngFor="let error of otCalcModelStateError.to_date">
                            <span class="h5 text-danger mb-1 mt-0 d-block"> {{error}}.</span>
                          </li>
                        </ul>
                      </div>

                    </div>

                    <div class="col-sm-6 col-lg text-right align-self-end">
                      <div class="form-group mb-0">
                        <button class="btn btn-primary" (click)="calculateOvertime()">Calculate
                          <i class="fas fa-calculator" aria-hidden="true"></i></button>
                      </div>
                    </div>
                  </div>

                  <app-clib-loading-xl *ngIf="showOtCalcLoader"></app-clib-loading-xl>

                  <hr *ngIf="otCalcDetails">

                  <div class="row mt-4" *ngIf="otCalcDetails">
                    <div class="col-xl-4 col-md-6">
                      <div class="card card-stats mb-0">
                        <div class="card-body px-3 py-2">
                          <div class="row">
                            <div class="col my-auto">
                              <h5 class="card-title text-uppercase text-muted mb-0">Planned</h5>
                            </div>
                            <div class="col-auto">
                              <span
                                class="badge badge-pill badge-success">{{otCalcDetails?.planned_overtime_description}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                      <div class="card card-stats mb-0">
                        <div class="card-body px-3 py-2">
                          <div class="row">
                            <div class="col my-auto">
                              <h5 class="card-title text-uppercase text-muted mb-0">Emergency</h5>
                            </div>
                            <div class="col-auto">
                              <span
                                class="badge badge-pill badge-danger">{{otCalcDetails?.emergency_overtime_description}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                      <div class="card card-stats mb-0">
                        <div class="card-body px-3 py-2">
                          <div class="row">
                            <div class="col my-auto">
                              <h5 class="card-title text-uppercase text-muted mb-0">Total</h5>
                            </div>
                            <div class="col-auto">
                              <span
                                class="badge badge-pill badge-primary">{{otCalcDetails?.total_overtime_description}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Footer -->
  <footer class="footer pt-0">
    <app-layout-footer></app-layout-footer>
  </footer>
</div>





<div #ViewAvatorLeaveModal id="ViewAvatorLeaveModal" class="modal fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Filter Employee</h5>
        <!-- <button type="button" class="close py-3" data-dismiss="modal" aria-label="Close"
          (click)="hideViewAvatorLeaveModal()">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body" *ngIf="subordinateAvatorFilters">

        <!-- <div class="mt-1 mb-3">
          <div class="list-group list-group-flush list" *ngFor="let employee of subordinateAvatorFilters">
            <a class="list-group-item ml--2 px-3 py-2" (click)="selectSubordinate(employee, 'fromModel')"
              [ngClass]="{'border border-danger': employee?.employee_id === selectedEmployee?.employee_id}"
              *ngIf="employee?.employee_show_on_model_ui">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="avatar avatar-lg rounded-circle shadow">
                    <img [src]="employee?.employee_picture_path" alt="..."
                      style="width: 58px; height: 58px; object-fit: cover;">
                  </span>
                </div>
                <div class="col ml--2">
                  <h4 class="mb-0">{{employee?.employee_name_with_id}}</h4>
                  <p class="text-sm text-muted mb-0">{{employee?.employee_designation}}</p>
                </div>
                <div class="col-auto">
                </div>
              </div>
            </a>
          </div>

        </div> -->

      </div>
    </div>
  </div>
</div>



<div #ViewSelfCertificationLeaveModal id="ViewSelfCertificationLeaveModal" class="modal fade" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Self Certification Details</h5>
        <button type="button" class="close py-3" data-dismiss="modal" aria-label="Close"
          (click)="hideViewSelfCertificationLeaveModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- <div class="alert alert-info px-3 py-2 mb-3" role="alert"
          *ngIf="selfcertificationDetails && selfcertificationDetails.length < 1">
          <span class="alert-icon"><i class="fas fa-info-circle"></i></span>
          <span class="alert-text"><strong>Oh Snap!</strong> No Leave Deatils to view yet ...!</span>
        </div>

        <div class="table-responsive" *ngIf="selfcertificationDetails && selfcertificationDetails.length > 0">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col"> From </th>
                <th scope="col"> To </th>
                <th scope="col" class="text-center"> Days Count </th>
              </tr>
            </thead>
            <tbody class="list" *ngFor="let leave of selfcertificationDetails">
              <tr>
                <th class="px-3 py-2">
                  <span class="h5 text-dark text-center">{{leave?.self_certification_absence_starts_on_friendly}}</span>
                </th>
                <th scope="row" class="px-3 py-2">
                  <span class="h5 text-dark text-center">{{leave?.self_certification_absence_ends_on_friendly}}</span>
                </th>
                <th scope="row" class="px-3 py-2 text-center">
                  <span class="h5 text-dark text-center">{{leave?.self_certification_absence_days}}</span>
                </th>
              </tr>
            </tbody>
          </table>
        </div> -->
      </div>
    </div>
  </div>
</div>




<div #ViewLeaveDetailsModal id="ViewLeaveDetailsModal" class="modal fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title"> {{selectedAbsenceTypeName}} ({{selectedAbsenceTypeId}}) - Details</h5>
        <button type="button" class="close py-3" data-dismiss="modal" aria-label="Close"
          (click)="hideViewLeaveDetailsModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedAbsenceTypeName && selectedAbsenceTypeDetail">

        <div class="alert alert-info px-3 py-2 mb-3" role="alert"
          *ngIf="selectedAbsenceTypeDetail && selectedAbsenceTypeDetail.length < 1">
          <span class="alert-icon"><i class="fas fa-info-circle"></i></span>
          <span class="alert-text"><strong>Oh Snap!</strong> No Leave Deatils to view yet ...!</span>
        </div>

        <div class="table-responsive" *ngIf="selectedAbsenceTypeDetail && selectedAbsenceTypeDetail.length > 0">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col"> From </th>
                <th scope="col"> To </th>
              </tr>
            </thead>
            <tbody class="list" *ngFor="let leave of selectedAbsenceTypeDetail">
              <tr>
                <th class="px-3 py-2">
                  <span class="h5 text-dark text-center">{{leave?.sap_absence_taken_from_date}}</span>
                </th>
                <th scope="row" class="px-3 py-2">
                  <span class="h5 text-dark text-center">{{leave?.sap_absence_taken_to_date}}</span>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>