<div class="row" *ngIf="shiftGroupSupervisors && shiftGroupSupervisors.length > 0">
  <ng-container *ngFor="let listItem of shiftGroupSupervisors">
    <div class="col-xl-4 col-md-6">
      <div class="card card-stats shadow">
        <!-- Card body -->
        <div class="card-body my-auto" [ngClass]="{'bg-light': listItem.IsRemoved}">
          <div class="row">
            <div class="col my-auto">
              <div class="row">
                <div class="col-lg-12 my-auto">
                  <span class="badge badge-primary"
                    [ngClass]="listItem.IsRemoved ? 'badge-danger' : 'badge-primary'">{{listItem.EmployeeId}}</span>
                  <span class="h4 font-weight-bold mb-0"
                    [ngClass]="listItem.IsRemoved ? 'text-danger' : 'text-primary'"> {{listItem.Name}}</span>
                </div>
              </div>
            </div>

            <div class="col-auto my-auto pl-2">
              <button type="button" class="btn btn-pinterest btn-icon-only rounded-circle" data-toggle="tooltip"
                data-placement="top" title="Remove" *ngIf="!listItem.IsRemoved" (click)="remove(listItem)">
                <span class="btn-inner--icon"><i class="fas fa-trash-alt"></i></span>
              </button>
              <button type="button" class="btn btn-slack btn-icon-only rounded-circle" data-toggle="tooltip"
                data-placement="top" title="Restore" *ngIf="listItem.IsRemoved" (click)="restore(listItem)">
                <span class="btn-inner--icon"><i class="fas fa-redo-alt"></i></span>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
