<!-- Header -->
<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-3">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Duty Roster</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="#">Shift SAP Upload</a></li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="#" class="btn btn-sm btn-neutral">New</a>
          <a href="#" class="btn btn-sm btn-neutral">Filters</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-auto">
              <h3 class="mb-0">Online Application Transactions</h3>
              <p class="text-sm mb-0">
                This is an exmaple of datatable using the well known datatables.net plugin. This is a minimal setup in
                order to get started fast.
              </p>
            </div>
            <div class="col text-right">
              <button class="btn btn-icon btn-sm btn-primary" type="button">
                <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
                <span class="btn-inner--text">Export</span>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <div class="table-responsive py-4">
              <table class="table table-flush" id="datatable-buttons">
                <thead class="thead-light">
                  <tr>
                    <th>Name</th>
                    <th class="ml-n3">Shifts</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="pl-2 pr-1 py-1">Test Name is long Name (2222)</td>
                    <td class="pl-1 pr-2 py-1">1</td>
                  </tr>
                  <tr>
                    <td class="pl-2 pr-1 py-1">Test Name is long Name (2222)</td>
                    <td class="pl-1 pr-2 py-1">1</td>
                  </tr>
                  <tr>
                    <td class="pl-2 pr-1 py-1">Test Name is long Name (2222)</td>
                    <td class="pl-1 pr-2 py-1">1</td>
                  </tr>
                  <tr>
                    <td class="pl-2 pr-1 py-1">Test Name is long Name (2222)</td>
                    <td class="pl-1 pr-2 py-1">1</td>
                  </tr>
                  <tr>
                    <td class="pl-2 pr-1 py-1">Test Name is long Name (2222)</td>
                    <td class="pl-1 pr-2 py-1">1</td>
                  </tr>
                  <tr>
                    <td class="pl-2 pr-1 py-1">Test Name is long Name (2222)</td>
                    <td class="pl-1 pr-2 py-1">1</td>
                  </tr>
                  <tr>
                    <td class="pl-2 pr-1 py-1">Test Name is long Name (2222)</td>
                    <td class="pl-1 pr-2 py-1">1</td>
                  </tr>
                  <tr>
                    <td class="pl-2 pr-1 py-1">Test Name is long Name (2222)</td>
                    <td class="pl-1 pr-2 py-1">1</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col">
            <div class="table-responsive py-4">
              <table class="table table-flush" id="datatable-buttons">
                <thead class="thead-light">
                  <tr>
                    <th>Shift Template</th>
                    <th>SUN</th>
                    <th>MON</th>
                    <th>TUE</th>
                    <th>WED</th>
                    <th>THU</th>
                    <th>FRI</th>
                    <th>SAT</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="text-primary">8:00 16:00</span>
                      </div>
                      <div class="col-12 px-0">
                        <span class="text-primary">Morning Shift</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="text-primary">8:00 16:00</span>
                      </div>
                      <div class="col-12 px-0">
                        <span class="text-primary">Morning Shift</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="text-primary">8:00 16:00</span>
                      </div>
                      <div class="col-12 px-0">
                        <span class="text-primary">Morning Shift</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                    <td class="px-1 py-1">
                      <div class="col-12 px-0">
                        <span class="badge badge-success">Full Name is Long (2333)</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>



      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="footer pt-0">
    <app-layout-footer></app-layout-footer>
  </footer>
</div>