<ul class="list-group list-group-flush list mt--2 mb-3" *ngIf="requestList && requestList.length > 0">
  <ng-container *ngFor="let leaveRequest of requestList">
    <li class="list-group-item px-0 py-2">
      <div class="row align-items-center">
        <div class="col ml-4">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row">
                <div class="col-auto">
                  <span class="h4 font-weight-bold mb-0">{{leaveRequest?.leave_request_employee_details}}</span>
                </div>
                <div class="col">
                  <h6 class="card-title text-uppercase text-muted mt-1 mb-1">
                    {{leaveRequest?.leave_request_status_description}}</h6>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-auto">
                  <h5 class="mb-1">
                    <i class="fas fa-calendar"></i>
                    <span class="text-primary">
                      {{leaveRequest.leave_request_taken_from | date: 'dd MMM yyyy HH:mm a'}}
                    </span>
                    <i class="fas fa-arrow-right"></i>
                    <span class="text-primary">
                      {{leaveRequest.leave_request_taken_to | date: 'dd MMM yyyy HH:mm a'}}</span>
                  </h5>
                </div>
                <div class="col">
                  <span class="h5 font-weight-bold mb-0">
                    <i class="fas fa-clock"></i> <span class="h5 text-muted">
                      {{leaveRequest.leave_request_requested_duration_date}}</span>
                  </span>
                </div>
                <div class="col-auto">
                  <span class="text-danger"><i class="fas fa-certificate"></i></span>
                  <span class="h5 font-weight-bold mb-0"> {{leaveRequest?.leave_request_absence_type_description}}
                  </span>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <span class="h5 font-weight-bold text-primary">Created On: </span>
              <span
                class="h5 font-weight-bold mb-0">{{leaveRequest?.leave_request_created_on | date: 'dd MMM yyyy HH:mm a'}}</span>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <button class="btn btn-icon btn-primary btn-sm" type="button" data-toggle="tooltip" data-placement="left"
            title="View Details" (click)="showExtendRecordDetailsModal(leaveRequest)">
            <span class="btn-inner--icon"><i class="fas fa-expand-arrows-alt"></i></span>
            <span class="btn-inner--text">Extend</span>
          </button>

          <button class="btn btn-icon btn-warning btn-sm" type="button" data-toggle="tooltip" data-placement="left"
            title="View Details" (click)="showViewRecordDetailsModal(leaveRequest)">
            <span class="btn-inner--icon"><i class="fas fa-eye"></i></span>
          </button>
        </div>
      </div>
    </li>
  </ng-container>
</ul>







<div #ListViewRecordDetailsModal id="ListViewRecordDetailsModal" class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Leave History</h5>
        <button type="button" class="close py-3" data-dismiss="modal" aria-label="Close"
          (click)="hideViewRecordDetailsModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="requestDetails">
        <!-- <app-hr-leave-requests-detail-view-model [selecteditem]="selecteditem" [requestDetails]="requestDetails"
          [showModelLoader]="showModelLoader"></app-hr-leave-requests-detail-view-model> -->
      </div>
    </div>
  </div>
</div>


<div #ListExtendRecordDetailsModal id="ListExtendRecordDetailsModal" class="modal fade" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Extend Leave</h5>
        <button type="button" class="close py-3" data-dismiss="modal" aria-label="Close"
          (click)="hideExtendRecordDetailsModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="requestDetails || selecteditem">
        <app-hr-extend-leave [selecteditem]="selecteditem" [requestDetails]="requestDetails"
          [showModelLoader]="showModelLoader"></app-hr-extend-leave>
      </div>
    </div>
  </div>
</div>