<ul class="list-group list-group-flush list mt--2 mb-3" *ngIf="requestList && requestList.length > 0">
  <ng-container *ngFor="let holidayRequest of requestList">
    <li class="list-group-item px-0 py-2">
      <div class="row align-items-center">
        <div class="col ml-4">
          <div class="row align-items-center">
            <div class="col-auto">
              <h3 class="font-weight-bold mb-2">{{holidayRequest?.holiday_name}}</h3>
            </div>
            <div class="col">
              <h6 class="card-title text-uppercase text-muted mt-1 mb-2">{{holidayRequest?.holiday_type}}</h6>
            </div>
            <div class="col-lg-12">
              <div class="row align-items-center">
                <div class="col-auto">
                  <h5 class="mb-2">
                    <i class="fas fa-calendar"></i>
                    <span class="text-primary"> {{holidayRequest?.holiday_date | date: 'dd MMM yyyy'}} </span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top"
            title="Remove Request" [disabled]="(!holidayRequest.holiday_can_remove)" (click)="showRemoveModal(holidayRequest)">
            <span class="btn-inner--icon"><i class="fas fa-trash-alt"></i></span>
          </button>

          <button class="btn btn-icon btn-warning btn-sm" type="button" data-toggle="tooltip" data-placement="left"
            title="View Details" (click)="showViewRecordDetailsModal(holidayRequest)">
            <span class="btn-inner--icon"><i class="fas fa-eye"></i></span>
          </button>
        </div>
      </div>
    </li>
  </ng-container>
</ul>







<div #ListViewRecordDetailsModal id="ListViewRecordDetailsModal" class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Holiday Details</h5>
        <button type="button" class="close py-3" (click)="hideViewRecordDetailsModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedData">
        <app-hr-holidays-detail-view-model [selectedData]="selectedData" [showLoader]="showLoader">
        </app-hr-holidays-detail-view-model>
      </div>
    </div>
  </div>
</div>





<div #ListViewRemoveModal id="ListViewRemoveModal" class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Remove Holiday</h5>
        <button type="button" class="close py-3" (click)="hideRemoveModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedData">
        <app-hr-holidays-detail-view-model [selectedData]="selectedData" [showLoader]="showLoader">
        </app-hr-holidays-detail-view-model>

        <div class="alert alert-warning px-3 py-2 mt-3" role="alert" *ngIf='generalApiError'>
          <span class="h4 text-white"><i class="fas fa-exclamation-circle"></i> <strong> Error !</strong>
            {{generalApiError}}
            ... !</span>
          <hr class="my-2">
          <div class="col-lg-12" *ngIf="modelStateError && modelStateError.hoilday_id">
            <ul class="pl-2 mb-2" *ngIf="modelStateError && modelStateError.hoilday_id">
              <li class="mt-0" *ngFor="let error of modelStateError.hoilday_id">
                <span class="h5 text-white mb-1 mt-0 d-block">{{error}}.</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-12" *ngIf="modelStateError && modelStateError['expires on']">
            <ul class="pl-2 mb-2" *ngIf="modelStateError && modelStateError['expires on']">
              <li class="mt-0" *ngFor="let error of modelStateError['expires on']">
                <span class="h5 text-white mb-1 mt-0 d-block">{{error}}.</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-12" *ngIf="modelStateError && modelStateError['']">
            <ul class="pl-2 mb-2" *ngIf="modelStateError && modelStateError['']">
              <li class="mt-0" *ngFor="let error of modelStateError['']">
                <span class="h5 text-white mb-1 mt-0 d-block">{{error}}.</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="row mt-4 mb-1">
          <div class="col-lg my-0">
          </div>
          <div class="col-lg-auto my-0">
            <div class="form-group float-right my-0">
              <button class="btn btn-icon btn-danger" type="button" (click)="postRemoveHoliday(selectedData)">
                <span class="btn-inner--icon" *ngIf="showModelLoader"><i class="fas fa-spinner fa-spin"></i></span>
                <span class="btn-inner--icon" *ngIf="!showModelLoader"><i class="fas fa-trash-alt"></i></span>
                <span class="btn-inner--text" *ngIf="showModelLoader">Removing Holiday ...</span>
                <span class="btn-inner--text" *ngIf="!showModelLoader">Remove Holiday</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>