<!-- <h6 class="h2 text-primary ml-2 mb-3">Education</h6> -->

<a class="nav-link mb-0 px-0" href="#">
  <h5 class="h5 font-weight-bold text-success mb-2">
    <span><i class="fas fa-plus-circle mr-2"></i></span> Add a Collage
  </h5>
</a>

<h6 class="h4 text-primary font-weight-bold d-inline-block ml-1 mb-3">College</h6>
<ul class="list-group list-group-flush list mt--2 mb-4" *ngIf="profileEducation">
  <ng-container *ngFor="let collegeObj of profileEducation.college">
    <li class="list-group-item px-0 py-2">
      <div class="row align-items-center">
        <div class="col-auto my-auto">
          <i class="fas fa-user-graduate fa-2x"></i>
        </div>
        <div class="col ml--2">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-auto">
                  <span class="h5 font-weight-bold mb-0">{{collegeObj.school}}</span>
                </div>
                <div class="col my-auto">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <button class="btn btn-icon btn-link btn-sm" type="button" data-toggle="tooltip" data-placement="top"
            title="View Details" (click)="showViewRecordDetailsModal(collegeObj)">
            <span class="btn-inner--icon"><i class="fas fa-file-alt"></i></span> {{collegeObj.document}}
          </button>
        </div>
        <div class="col-auto">
          <button class="btn btn-icon btn-link btn-sm" type="button" data-toggle="tooltip" data-placement="top"
            title="View Details" (click)="showViewRecordDetailsModal(collegeObj)">
            <span class="btn-inner--icon"><i class="fas fa-globe-americas"></i></span> {{collegeObj.privacy}}
          </button>
        </div>
        <div class="col-auto">
          <button class="btn btn-icon btn-primary btn-sm" type="button" data-toggle="tooltip" data-placement="top"
            title="View Details" (click)="showViewRecordDetailsModal(collegeObj)">
            <span class="btn-inner--icon"><i class="fas fa-ellipsis-h"></i></span>
          </button>
        </div>
      </div>
    </li>
  </ng-container>
</ul>




<a class="nav-link mb-0 px-0" href="#">
  <h5 class="h5 font-weight-bold text-success mb-2">
    <span><i class="fas fa-plus-circle mr-2"></i></span> Add a School
  </h5>
</a>

<h6 class="h4 text-primary font-weight-bold d-inline-block ml-1 mb-3">High School</h6>
<ul class="list-group list-group-flush list mt--2 mb-3" *ngIf="profileEducation">
  <ng-container *ngFor="let highSchoolObj of profileEducation.highSchool">
    <li class="list-group-item px-0 py-2">
      <div class="row align-items-center">
        <div class="col-auto my-auto">
          <i class="fas fa-user-graduate fa-2x"></i>
        </div>
        <div class="col ml--2">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-auto">
                  <span class="h5 font-weight-bold mb-0">{{highSchoolObj.school}}</span>
                </div>
                <div class="col my-auto">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <button class="btn btn-icon btn-link btn-sm" type="button" data-toggle="tooltip" data-placement="top"
            title="View Details" (click)="showViewRecordDetailsModal(highSchoolObj)">
            <span class="btn-inner--icon"><i class="fas fa-file-alt"></i></span> {{highSchoolObj.document}}
          </button>
        </div>
        <div class="col-auto">
          <button class="btn btn-icon btn-link btn-sm" type="button" data-toggle="tooltip" data-placement="top"
            title="View Details" (click)="showViewRecordDetailsModal(highSchoolObj)">
            <span class="btn-inner--icon"><i class="fas fa-globe-americas"></i></span> {{highSchoolObj.privacy}}
          </button>
        </div>
        <div class="col-auto">
          <button class="btn btn-icon btn-primary btn-sm" type="button" data-toggle="tooltip" data-placement="top"
            title="View Details" (click)="showViewRecordDetailsModal(highSchoolObj)">
            <span class="btn-inner--icon"><i class="fas fa-ellipsis-h"></i></span>
          </button>
        </div>
      </div>
    </li>
  </ng-container>
</ul>